*{
    margin: 0px;
    padding: 0px;
}
.maincontainer{
    display: flex;
    justify-content: space-around;
    background-color: #424141;
    color: white;
    padding: 10px;
}
.logo{
    width: 100px;
    padding: 5px;
}
.mainmenu{
    display: flex;
    list-style: none;
}
.menubar-1{
    margin-right: 10px;
    padding: 5px;
    font-size: 18px;
}
.Image{
    width: 300px;
}
.bannersection{
    display: flex;
    justify-content: space-around;
    color: white;
    background-image: url(./Images/background.png), linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
    height: 100vh;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.Bannertexth{
    font-size: 54px;
    font-weight: bold;
}
.discription{
    font-size: 18px;
    margin-top: 15px;
}
.btn{
    background-color: red;
    margin: 15px;
    padding: 10px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    font-style: italic;
}
.aboutussection{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    margin-top: 20px;
}
.aboutustitle{
    font-size: 54px;
    text-align: center;
    margin: 20px;
}